<div class="box">
    <h2>Default Style</h2>
    <p>CSS</p>
    <code>
<pre>.one-side-slider{
    --fill-percent: 50%; /*this value will be calculated using JavaScript*/
    --slider-pointer-events: none;
    --track-fill-color: <span class="color salmon-pink"></span> rgb(197, 63, 99);
    --track-nofill-color: <span class="color gray"></span> rgb(136, 136, 136);
    --track-height: 5px;
    --track-border-radius: 5px;
    --thumb-width: 1em;
    --thumb-height: 1em;
    --thumb-height-unit: 1em; /*this value will be calculated using JavaScript*/
    --thumb-width-unit: 1em; /*this value will be calculated using JavaScript*/
    --thumb-color: <span class="color salmon-pink"></span> rgb(197, 63, 99);
    --thumb-border-color: <span class="color white"></span> rgb(255, 255, 255);
    --thumb-border-style: solid;
    --thumb-border-width: 3px;
    --thumb-cursor: pointer;
    --thumb-pointer-events: auto;
    --active-thumb-color: <span class="color white"></span> rgb(255, 255, 255);
    --active-thumb-border-color: <span class="color white"></span> rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}</pre>
    </code>
</div>