<div class="box">
    <h2>Default Style</h2>
    <p>CSS</p>
    <code>
<pre>.one-side-slider{<br>
    --fill-percent: 50%; /*this value will be calculated using JavaScript*/<br>
    --slider-pointer-events: none;<br>
    --track-fill-color: <span class="color salmon-pink"></span> rgb(197, 63, 99);<br>
    --track-nofill-color: <span class="color gray"></span> rgb(136, 136, 136);<br>
    --track-height: 5px;<br>
    --track-border-radius: 5px;<br>
    --thumb-width: 1em;<br>
    --thumb-height: 1em;<br>
    --thumb-height-unit: 1em; /*this value will be calculated using JavaScript*/<br>
    --thumb-width-unit: 1em; /*this value will be calculated using JavaScript*/<br>
    --thumb-color: <span class="color salmon-pink"></span> rgb(197, 63, 99);<br>
    --thumb-border-color: <span class="color white"></span> rgb(255, 255, 255);<br>
    --thumb-border-style: solid;<br>
    --thumb-border-width: 3px;<br>
    --thumb-cursor: pointer;<br>
    --thumb-pointer-events: auto;<br>
    --active-thumb-color: <span class="color white"></span> rgb(255, 255, 255);<br>
    --active-thumb-border-color: <span class="color white"></span> rgb(255, 255, 255);<br>
    box-sizing: border-box;<br>
    position: relative;<br>
    height: 50px;<br>
    width: 80%;<br>
    margin: auto;<br>
    display: flex;<br>
    align-items: center;<br>
}</pre>
    </code>
</div>