<div class="box">
    <h2>One Side Slider</h2>

    <h3>Create a Slider:</h3>
    <div class="one-side-slider">
        <div class="track"></div>
        <input type="range" class="slider"/>
    </div>

    <p>Use classes <span class="highlight">one-side-slider</span>, <span class="highlight">track</span> and <span class="highlight">slider</span> to apply sliders style.</p>
    <p>HTML</p>
    <code>
<pre>&lt;div class="one-side-slider" id="my-slider"&gt;
    &lt;div class="track"&gt;&lt;/div&gt;
    &lt;input type="range" class="slider"/&gt;
&lt;/div&gt;</pre>
    </code>

    <hr>

    <h3>Customize Colors</h3>
    <div class="one-side-slider" id="green-slider">
        <div class="track"></div>
        <input type="range" class="slider"/>
    </div>
    <p>CSS</p>
    <code>
<pre>.one-side-slider#my-slider{
    --track-fill-color: <span class="color neon-green"></span> rgb(25, 227, 82);
    --track-nofill-color: <span class="color pastel-green"></span> rgb(160, 255, 169);
    --thumb-color: <span class="color white"></span> rgb(255, 255, 255);
    --thumb-border-color: <span class="color neon-green"></span> rgb(25, 227, 82);
    --active-thumb-color: <span class="color neon-green"></span> rgb(25, 227, 82);
    --active-thumb-border-color: <span class="color white"></span> rgb(255, 255, 255);
}</pre>
    </code>

    <hr>

    <h3>Customize Shape</h3>
    <div class="one-side-slider" id="big-thumb">
        <div class="track"></div>
        <input type="range" class="slider"/>
    </div>
    <p>CSS</p>
    <code>
<pre>.one-side-slider#my-slider{
    --thumb-border-color: <span class="color salmon-pink"></span> rgb(197, 63, 99);
    --track-border-radius: 1rem;
    --thumb-width: 2rem;
    --thumb-height: 2rem;
    --track-height: 2rem;
}</pre>
    </code>
</div>