*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: linear-gradient(160deg, #fa8bff, #2bd2ff, #fa8bff);
}

.container{
    max-width: 1000px;
    margin-inline: auto;
    min-height: 100vh;
}

.box{
    border-radius: 20px;
    padding: 20px;
    margin-block: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

.step{
    padding-inline: 20px;
    margin-block: 50px;
}

.step h3{
    font-size: 2em;
    margin-bottom: 10px; 
}

.step li{
    list-style-position: inside;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.highlight{
    border-radius: 5px;
    padding: 3px;
    font-style: italic;
    background-color: rgba(95, 0, 95, 0.3);
}

.download-link, .download-link p{
    margin-block: 10px;
}

code{
    margin-block: 5px;
    font-size: 1rem;
    border: solid black 1px;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(1, 93, 14, 0.3);
}

code, code *{
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word; /* Modern equivalent of `word-wrap` */
    white-space: pre-wrap; /* Allows wrapping but maintains spacing */
}

p{
    margin-top: 10px;
}

hr{
    margin-block: 20px;
}
.one-side-slider#green-slider{
    --track-fill-color: rgb(25, 227, 82);
    --track-nofill-color: rgb(160, 255, 169);
    --thumb-color: rgb(255, 255, 255);
    --thumb-border-color: rgb(25, 227, 82);
    --active-thumb-color: rgb(25, 227, 82);
    --active-thumb-border-color: rgb(255, 255, 255);
}

.one-side-slider#big-thumb{
    --thumb-border-color: rgb(197, 63, 99);
    --track-border-radius: 1rem;
    --thumb-width: 2rem;
    --thumb-height: 2rem;
    --track-height: 2rem;
}

span.color{
    display: inline-block;
    margin: 0 0 -0.2em 0;
    padding: 0;
    height: 1em;
    width: 1em;
    border: 1px solid gray
}

.salmon-pink{
    background-color: rgb(197, 63, 99);
}

.gray{
    background-color: rgb(136, 136, 136);
}

.white{
    background-color: white;
}

.neon-green{
    background-color: rgb(25, 227, 82);
}

.pastel-green{
    background-color: rgb(160, 255, 169);
}