.one-side-slider{
    position: relative;
    height: 50px;
    width: 80%;
    margin: auto;
}

.one-side-slider > .track{
    --fill-color: rgb(197, 63, 99);
    --nofill-color: rgb(136, 136, 136);
    width: 99%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.one-side-slider > input[type="range"].slider{
    --thumb-width: 1em;
    --thumb-height: 1em;
    --thumb-color: rgb(197, 63, 99);
    --thumb-border-color: rgb(255, 255, 255);
    --active-thumb-color: rgb(255, 255, 255);
    --active-thumb-border-color: rgb(255, 255, 255);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 8px;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

/* Firefox-specific styles */
@-moz-document url-prefix() {
    .one-side-slider > input[type="range"].slider{
        margin-top: -6px;
        top: 7px;
    }
}

.one-side-slider > input[type="range"].slider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.one-side-slider > input[type="range"].slider::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.one-side-slider > input[type="range"].slider::-ms-track{
    appearance: none;
    height: 5px;
}

.one-side-slider > input[type="range"].slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: var(--thumb-color);
    border-color: var(--thumb-border-color);
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
.one-side-slider > input[type="range"].slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: calc(var(--thumb-height) * 0.7);
    width: calc(var(--thumb-width) * 0.7);
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    background-color: var(--thumb-color);
    border-color: var(--thumb-border-color);
    border-style: solid;
    border-width: 3px;
    pointer-events: auto;
}
.one-side-slider > input[type="range"].slider::-ms-thumb{
    appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--thumb-color);
    border-color: var(--thumb-border-color);
    border-style: solid;
    border-width: 3px;
    pointer-events: auto;
}

.one-side-slider > input[type="range"].slider:active::-webkit-slider-thumb{
    background-color: var(--active-thumb-color);
    border-color: var(--active-thumb-border-color);
}

.one-side-slider > input[type="range"].slider:active::-moz-range-thumb {
    background-color: var(--active-thumb-color);
    border-color: var(--active-thumb-border-color);
}

.one-side-slider > input[type="range"].slider:active::-ms-thumb {
    background-color: var(--active-thumb-color);
    border-color: var(--active-thumb-border-color);
}