.one-side-slider{
    --track-fill-color: rgb(197, 63, 99);
    --track-nofill-color: rgb(136, 136, 136);
    --track-height: 5px;
    --thumb-width: 1em;
    --thumb-height: 1em;
    --thumb-color: rgb(197, 63, 99);
    --thumb-border-color: rgb(255, 255, 255);
    --thumb-border-width: 3px;
    --active-thumb-color: rgb(255, 255, 255);
    --active-thumb-border-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.one-side-slider > .track{
    width: 99%;
    height: var(--track-height);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    border-radius: 5px;
}

.one-side-slider > input[type="range"].slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    pointer-events: none;
}

.one-side-slider > input[type="range"].slider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: var(--track-height);
}
.one-side-slider > input[type="range"].slider::-moz-range-track{
    -moz-appearance: none;
    height: var(--track-height);
}
.one-side-slider > input[type="range"].slider::-ms-track{
    appearance: none;
    height: var(--track-height);
}

.one-side-slider > input[type="range"].slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: var(--thumb-color);
    border-color: var(--thumb-border-color);
    border-style: solid;
    border-width: var(--thumb-border-width);
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(calc((var(--track-height) - var(--thumb-height)) / 2));
    pointer-events: auto;
}
.one-side-slider > input[type="range"].slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: calc(var(--thumb-height) * 0.7);
    width: calc(var(--thumb-width) * 0.7);
    background-color: var(--thumb-color);
    border-color: var(--thumb-border-color);
    border-style: solid;
    border-width: var(--thumb-border-width);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -1px;
    pointer-events: auto;
}
.one-side-slider > input[type="range"].slider::-ms-thumb{
    appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: var(--thumb-color);
    border-color: var(--thumb-border-color);
    border-style: solid;
    border-width: var(--thumb-border-width);
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
}

.one-side-slider > input[type="range"].slider:active::-webkit-slider-thumb{
    background-color: var(--active-thumb-color);
    border-color: var(--active-thumb-border-color);
}

.one-side-slider > input[type="range"].slider:active::-moz-range-thumb {
    background-color: var(--active-thumb-color);
    border-color: var(--active-thumb-border-color);
}

.one-side-slider > input[type="range"].slider:active::-ms-thumb {
    background-color: var(--active-thumb-color);
    border-color: var(--active-thumb-border-color);
}